
<!-- display messages -->
<!-- for displaying alert messages in some html such as register and login -->
{% if messages %}
<!-- prettier-ignore -->
{% for message in messages %}
<div class="container" id="djmessage{{ forloop.counter }}">
  <div
    class="alert alert-{{ message.tags }} alert-dismissible text-center"
    role="alert"
  >
    <button type="button" class="close" data-dismiss="alert">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>
      <!-- prettier-ignore -->
      {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        Error:
      {% else %}
        {{ message.tags | title }}
      {% endif %}
    </strong>
    {{ message }}
  </div>
</div>
{% endfor %}
<!-- prettier-ignore -->
{% endif %}
<!-- end display messages -->
