{% load static %}

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
  <div class="container">
    <a class="navbar-brand" href={% url 'app_import_export:djep_index' %}>
      <img src={% static "img/logo.png" %} class="logo" alt="" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav">
        <li 
          {% if '/' == request.path or '/index' == request.path %} 
            class="nav-item active mr-3"
          {% else %}
            class="nav-item mr-3"
          {% endif %}
        >
          <!-- <a class="nav-link" href="index.html">Home</a> -->
          <a class="nav-link" href={% url 'app_import_export:djep_index' %}>Home</a>
        </li>
        {% comment %} <li class="nav-item mr-3"> {% endcomment %}
        <li 
          {% if '/about' == request.path %} 
            class="nav-item active mr-3"
          {% else %}
            class="nav-item mr-3"
          {% endif %}
        >
          <!-- <a class="nav-link" href="about.html">About</a> -->
          <a class="nav-link" href={% url 'app_import_export:djep_index' %}>About</a>
        </li>
        {% comment %} <li class="nav-item mr-3"> {% endcomment %}
        <li 
          {% if '/listings/' == request.path %} 
            class="nav-item active mr-3"
          {% else %}
            class="nav-item mr-3"
          {% endif %}
        >
          {% comment %} <a class="nav-link" href="listings.html">Inpatient medical services</a> {% endcomment %}
          <a class="nav-link" href={% url 'app_import_export:djep_index' %}>Inpatient medical services</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item mr-3">
          <!-- fix later -->
          <a class="nav-link" href="register.html">
            <i class="fas fa-user-plus"></i> Register</a
          >
        </li>
        <li class="nav-item mr-3">
          <!-- fix later -->
          <a class="nav-link" href="login.html">
            <i class="fas fa-sign-in-alt"></i>
            Login</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
