{% extends 'base.html' %}

<!-- after using the collectstatic command -->
{% load static %}

<!-- load humanize -->
{% load humanize %}

<!-- webpage tab title -->
{% block title %}Import Export{% endblock %}

<!-- main content -->
{% block content %}

<div class="container" style="height: 218px" id="block_content_div_id">
<!-- djmsg -->
{% include 'partials/_djmsg.html' %}

<div class="container text-center mb-2"></div>

<div class="container text-center">
<form action="{% url 'app_import_export:djep_clean_data' %}" method="post">
  {% csrf_token %}
  <button type="submit" class="btn btn-info mb-2">Clean Data</button>
</form>
</div>

<div class="container text-center">
<form action="{% url 'app_import_export:djep_import_data' %}" method="post">
  {% csrf_token %}
  <button type="submit" class="btn btn-primary mb-2">Import Data</button>
</form>
</div>

<!-- form moved to modal for delete data -->
<div class="text-center">
  <button
    class="btn btn-danger mb-2"
    data-url="{% url 'app_import_export:djep_delete_data' %}"
    data-toggle="modal"
    data-target="#confirmDeleteFormModal"
    data-id="0"
  >
    Delete Data
  </button>
</div>

</div>

<!-- end block content -->
{% endblock %}
