{% extends 'base.html' %}

<!-- after using the collectstatic command -->
{% load static %}

<!-- load humanize -->
{% load humanize %}

<!-- webpage tab title -->
{% block title %}Import Export{% endblock %}

<!-- main content -->
{% block content %}

<div class="container" style="height: 218px" id="block_content_div_id">
  <!-- djmsg -->
  {% include 'partials/_djmsg.html'%}


  <div class="container text-center mb-2"></div>

  <div class="container text-center">
  <h1>
    <a href="{% url 'app_import_export:djep_import' %}" style="text-decoration:none;"><i class="fas fa-file-import"></i>&nbsp;Import</a>
    &nbsp;  &nbsp; 
    <a href="{% url 'app_import_export:djep_export' %}" style="text-decoration:none;"><i class="fas fa-file-export"></i>&nbsp;Export</a>
  </h1>
  </div>

</div>

<!-- end block content -->
{% endblock %}
